/* _lcid="1033" _version="12.0.4518"
_LocalBinding */
A{
COLOR:#0560a6;
TEXT-DECORATION:none;
}
A:hover{
TEXT-DECORATION:underline;
}
A:visited{
COLOR:#834283;
}
.ms-HPMainBody
{
background-color:white;
color:black;
font-family:Tahoma,Arial,Helvetica,sans-serif;
font-size:62.5%;
line-height:normal;
padding:0px;
margin:0px;
}
.ms-HPBreadcrumbsDiv
{
PADDING-RIGHT:10px;
PADDING-LEFT:10px;
PADDING-BOTTOM:3px;
PADDING-TOP:3px;
BORDER-BOTTOM:#b6b6b6 1px solid;
BACKGROUND-COLOR:#f2f2f2;
TEXT-ALIGN:left;
FONT-SIZE:0.9em;
COLOR:#666666;
LINE-HEIGHT:1.1em;
}
.ms-HPBreadcrumbsDiv A
{
COLOR:#636363;
TEXT-DECORATION:none;
}
.ms-HPBreadcrumbsDiv A:hover
{
COLOR:#636363;
TEXT-DECORATION:underline;
}
.ms-HPBreadcrumbsDiv A:visited
{
COLOR:#636363;
}
.ms-HPBreadcrumbsDiv2
{
PADDING-TOP:1px;
PADDING-RIGHT:5px;
PADDING-BOTTOM:4px;
PADDING-LEFT:5px;
FLOAT:left;
VERTICAL-ALIGN:top;
FONT-SIZE:1.05em;
FONT-WEIGHT:normal;
}
.ms-HPBreadcrumbsDiv2 A
{
TEXT-DECORATION:none;
}
.ms-HPBreadcrumbsDiv2 A:hover
{
COLOR:#636363;
TEXT-DECORATION:underline;
}
.ms-HPBreadcrumbsDiv2 A:visited
{
COLOR:#636363;
}
.ms-HPOTblPaging
{
FONT-SIZE:100%;
LINE-HEIGHT:normal;
color:#ffffff;
}
.ms-HPcdclvBoldPagingText
{
FONT-WEIGHT:bold;
font-size:1.1em;
}
.ms-HPPgNextLink
{
COLOR:#0560a6;
TEXT-DECORATION:none;
}
.ms-HPcdPLArrowActive
{
BACKGROUND-POSITION:center center;
BACKGROUND-REPEAT:no-repeat;
}
.ms-HPcdPRArrowActive
{
BACKGROUND-POSITION:center center;
BACKGROUND-REPEAT:no-repeat;
}
.ms-HPcdPLArrowInactive
{
BACKGROUND-POSITION:center center;
BACKGROUND-REPEAT:no-repeat;
}
.ms-HPcdPRArrowInactive
{
BACKGROUND-POSITION:center center;
BACKGROUND-REPEAT:no-repeat;
}
.ms-HPcdClientToolbar
{
BORDER-RIGHT:#6b82b2 1px solid;
PADDING-RIGHT:10px;
BORDER-TOP:#6b82b2 1px;
PADDING-LEFT:10px;
FONT-SIZE:1.1em;
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hclvbluebg.gif");
PADDING-BOTTOM:5px;
BORDER-LEFT:#6b82b2 1px solid;
COLOR:#fff;
PADDING-TOP:5px;
BORDER-BOTTOM:#6b82b2 1px solid;
BACKGROUND-REPEAT:repeat-x;
ZOOM:1;
BACKGROUND-COLOR:#6b82b2;
}
.ms-HPcdOWSInl
{
PADDING-RIGHT:0px;
PADDING-LEFT:0px;
FONT-SIZE:1px;
PADDING-BOTTOM:0px;
MARGIN:0px;
LINE-HEIGHT:0px;
PADDING-TOP:0px;
HEIGHT:0px;
}
.ms-HPcdPLArrowActive
{
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hl_arrow_active.gif");
}
.ms-HPcdPRArrowActive
{
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hr_arrow_active.gif");
}
.ms-HPcdPLArrowInactive
{
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hl_arrow_inactive_hh.gif");
}
.ms-HPcdPRArrowInactive
{
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hr_arrow_inactive_hh.gif");
}
.ms-HPcdClientToolbar A
{
COLOR:#fff;
}
.ms-HPcdClientToolbar A:visited
{
COLOR:#fff;
}
.ms-HPcdClientToolbar .ms-HPcdToolbarDe
{
COLOR:#49789c;
}
.ms-HPcdOWSInl
{
WIDTH:0px;
BORDER-TOP-STYLE:none;
BORDER-RIGHT-STYLE:none;
BORDER-LEFT-STYLE:none;
BORDER-BOTTOM-STYLE:none;
}
.ms-HPHomeHeader
{
PADDING-RIGHT:175px;
PADDING-LEFT:10px;
PADDING-BOTTOM:2px;
PADDING-TOP:10px;
BACKGROUND-POSITION:right top;
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/images/hclvtitlebg.gif");
BACKGROUND-REPEAT:no-repeat;
COLOR:#eea752;
BORDER-BOTTOM:#eea752 1px solid;
}
.ms-HPStandardHeader1
{
font-size:1.8em;
font-weight:bold;
}
.ms-HPStandardHeader2
{
font-size:1.3em;
margin:0px;
}
.ms-HPcdclvSection
{
margin:15px 10px 0px 10px;
}
.ms-HPcdclvSuggestTitle,.ms-HPcdclvCategoryTitle
{
margin:0px;
padding-left:10px;
padding-right:10px;
padding-top:4px;
padding-bottom:3px;
font-size:1.3em;
font-weight:bold;
color:#fff;
border-top:1px #6b82b2;
border-right:1px solid #6b82b2;
border-bottom:1px solid #6b82b2;
border-left:1px solid #6b82b2;
zoom:1;
background-color:#6b82b2;
background-image:url("http://dsm5.org/_layouts/images/hclvbluebg.gif");
background-repeat:repeat-x;
}
.ms-HPcdclvCategoryTitle
{
border:1px solid #6b6f7a;
background-color:#6b6f7a;
background-image:url("http://dsm5.org/_layouts/images/hclvgraybg.gif");
}
.ms-HPcdclvCategoryRow
{
font-size:1.1em;
}
.ms-HPcdclvCategoryRowAlt
{
background-color:#f2f2f2;
font-size:1.1em;
}
.ms-HPcdclvCategoryCol1
{
width:50%;
padding:7px 8px 7px 10px;
}
.ms-HPcdclvCategoryCol2
{
width:50%;
padding:7px 10px 7px 8px;
}
.ms-HPcdclvCategoryCont
{
border:1px solid #6c7b8b;
border-top:none;
font-size:1.1em;
}
.ms-HPcdFloatLeft
{
float:left;
}
.ms-HPcdFloatRight
{
float:right;
}
.ms-HPcdclvSuggestResult
{
border-bottom:1px solid #a6cbeb;
zoom:1;
}
.ms-HPcdclvSuggestResultAlt
{
background-color:#f2f2f2;
border-bottom:1px solid #a6cbeb;
zoom:1;
}
.ms-HPcdclvSearchIcon
{
PADDING-TOP:5px;
PADDING-RIGHT:0px;
PADDING-BOTTOM:5px;
PADDING-LEFT:0px;
FLOAT:left;
VERTICAL-ALIGN:top;
}
.ms-HPcdclvSearchText
{
PADDING-TOP:4px;
PADDING-RIGHT:5px;
PADDING-BOTTOM:2px;
PADDING-LEFT:5px;
FLOAT:left;
VERTICAL-ALIGN:top;
FONT-SIZE:1.1em;
FONT-WEIGHT:bold;
}
.ms-HPTopicsListLineItemText
{
PADDING-TOP:6px;
PADDING-RIGHT:5px;
PADDING-BOTTOM:2px;
PADDING-LEFT:3px;
font-size:1.3em;
float:left;
text-align:left;
}
.ms-HPOAnc
{
}
.ms-HPcdclvAssistTitleCont
{
PADDING-RIGHT:10px;
PADDING-LEFT:10px;
PADDING-BOTTOM:15px;
PADDING-TOP:15px;
BORDER-BOTTOM:#b6b6b6 1px solid;
}
.ms-HPcdclvAssistTitle
{
FONT-WEIGHT:bold;
FONT-SIZE:1.8em;
COLOR:#7598c4;
}
.ms-HPcdclvTitleCont
{
padding:10px 10px 0px 10px;
}
.ms-HPcdclvTitle
{
margin:0px;
font-size:1.8em;
font-weight:bold;
color:#7598c4;
}
.ms-HPcdSideBoxTop
{
FONT-WEIGHT:bold;
FONT-SIZE:1.1em;
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hsidebxtop.gif");
COLOR:#666666;
LINE-HEIGHT:1.2em;
BACKGROUND-REPEAT:repeat-x;
FONT-FAMILY:Tahoma,Verdana,Arial,Helvetica,sans-serif;
BACKGROUND-COLOR:#f4f4f4;
}
.ms-HPcdSideBox
{
BORDER-RIGHT:#cccccc 1px solid;
BORDER-TOP:#cccccc 1px solid;
MARGIN-BOTTOM:10px;
BORDER-LEFT:#cccccc 1px solid;
BORDER-BOTTOM:#cccccc 1px solid;
margin-top:20px;
}
.ms-HPcdSideBoxTitle
{
PADDING-RIGHT:15px;
PADDING-LEFT:15px;
PADDING-BOTTOM:1px;
PADDING-TOP:4px;
}
.ms-HPcdSideBoxBody
{
PADDING-RIGHT:15px;
PADDING-LEFT:15px;
FONT-SIZE:1.2em;
BACKGROUND-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hsidbx_bg.gif");
PADDING-BOTTOM:6px;
PADDING-TOP:12px;
BACKGROUND-REPEAT:repeat-x;
FONT-FAMILY:Arial,sans-serif;
BACKGROUND-COLOR:#f2f2f2;
}
.ms-HPcdSideBoxBody UL
{
PADDING-RIGHT:12px;
PADDING-LEFT:12px;
LIST-STYLE-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hBulletLN.gif");
PADDING-BOTTOM:0px;
MARGIN:0px;
PADDING-TOP:0px;
}
.ms-HPcdSideBoxBody UL LI
{
PADDING-BOTTOM:3px;
}
.ms-HPArticleBody
{
}
.ms-HPSearchResultImg
{
height:16px;
hspace:2px;
width:16px;
border:0;
}
img.ms-HPNavigSlicePadding
{
width:7px;
height:26px;
}
td.ms-HPNavImage
{
height:26px;
Width:16px;
border-style:none;
vertical-align:top;
}
img.ms-HPNavImage
{
border-style:none;
height:26px;
Width:16px;
vertical-align:top;
}
.ms-HPNavSearchText
{
height:80%;
width:155px;
border:1px solid #000;
}
.ms-HPNavSearchTextSurround
{
BACKGROUND-IMAGE:url("../../IMAGES/hslice.Png");
}
.ms-HPNavSearchButton1
{
height:80%;
BACKGROUND-IMAGE:url("../../IMAGES/hslice.Png");
}
.ms-HPNavSearchButton2
{
border:1px solid #000;
height:20px;
width:30px;
text-align:center;
}
.ms-HPnoResultsHeading
{
margin:0px;
PADDING-RIGHT:0px;
PADDING-LEFT:0px;
FONT-SIZE:1.3em;
PADDING-BOTTOM:5px;
PADDING-TOP:0px;
}
.ms-HPmoreLinksHeader
{
PADDING-RIGHT:0px;
PADDING-LEFT:0px;
FONT-WEIGHT:bold;
FONT-SIZE:1.1em;
PADDING-BOTTOM:3px;
PADDING-TOP:0px;
}
.ms-HPcdMoreLinks
{
FONT-SIZE:1.1em;
LIST-STYLE-IMAGE:url("http://dsm5.org/_layouts/IMAGES/hBulletLN.gif");
MARGIN:0px 12px;
LINE-HEIGHT:150%;
}